.cadastroForm{
    border-radius: 1cap;
    justify-self: center;
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 30%;
}

.cadastroForm2{
    border-radius: 1cap;
    justify-self: center;
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.cadastroFormTitle{
    margin-top: 3vh;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.cadastroFormTitle2{
    margin-top: 3vh;
    margin-bottom: 2vh;
    align-self: center;
    font-size: x-large;
    font-weight: bold;
}

.loginField{
    justify-self: center;
    align-self: center;
    margin-top: 1vh;
}

.cnpjField{
    justify-self: center;
    align-self: center;
    margin-top: 1vh;
    width: 100%;
}

.senhaField{
    justify-self: center;
    align-self: center;
    margin-top: 1vh;
    padding-left: 3vh;
}

.nomeInput{
    color: black;
    border-radius: 0.2cap;
    margin-top: 1vh;
    align-self: center;
}

.cpfInput{
    color: black;
    border-radius: 0.2cap;
    align-self: center;
}

.cpfText{
    padding-left:10px;
}

.dataNascInput{
    color: black;
    border-radius: 0.2cap;
    align-self: center;
}

.dataNascText{
    padding-right: 95px;
}

.loginInput{
    color: black;
    padding-left: 1px;
    border-radius: 0.2cap;
    align-self: center;
}

.senhaInput{
    color: black;
    padding-left: 3px;
    border-radius: 0.2cap;
    align-self: center;
}

.fantasiaInput{
    color: black;
    border-radius: 0.2cap;
    margin-top: 1vh;
    align-self: center;
    justify-self: center;
    width: 60%;
}

.razaoLabel{
    padding-right: 0.7rem;
}

.razaoInput{
    color: black;
    border-radius: 0.2cap;
    margin-top: 1vh;
    align-self: center;
    justify-self: center;
    width: 66%;
}

.cnpjLabel{
    padding-left: 0.7rem;
}

.cnpjInput{
    color: black;
    border-radius: 0.2cap;
    margin-top: 1vh;
    align-self: center;
    justify-self: center;
    width: 77%;
}

.ramoLabel{
    padding-left: 0.7rem;
}

.ramoInput{
    color: black;
    border-radius: 0.2cap;
    margin-top: 1vh;
    align-self: center;
    justify-self: center;
    width: 48%;
}

.cadastrarButton{
    align-self: center;
    border: 2px solid white;
    border-radius: 1cap;
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.selecaoUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuarioButton{
    align-self: center;
    border: 2px solid white;
    border-radius: 1cap;
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-right: 3vh;
}

.selected{
    background-color: white;
    color: black;
}

.empresaButton{
    align-self: center;
    border: 2px solid white;
    border-radius: 1cap;
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

/*== Viewport Desktop ==*/
@media screen and (min-aspect-ratio: 1/1) {
    .cadastroForm{
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .cadastroForm2{
        border-radius: 1cap;
        justify-self: center;
        background-color: black;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .cnpjField{
        justify-self: center;
        align-self: center;
        margin-top: 3vh;
        width: auto;
    }
    .cadastroFormTitle{
        margin-top: 3.5vh;
    }
    .loginButton{
        margin-top: 3vh;
        margin-bottom: 6vh;
    }
    .loginField{
        margin-top: 3vh;
    } 
    .senhaField{
        margin-top: 3vh;
    }
    .wrapperLogin{
        margin-top: 3vh;
    }
    
}